.projects {
  width: 100%;
  padding: 80px 0 80px 0;
  box-shadow: inset #1a1a1a 0 5px 15px -15px;
  background-color: #0000001f;

  .projects_main {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;

    .projects_header {
      display: flex;
      justify-content: center;
      place-items: center;
      height: 50px;
      max-width: 120px;
      padding: 0 30px;
      font-size: 27px;
      background-color: #eee;
      color: #2a2a2a;
      border-radius: 24px;
      margin-bottom: 40px;
    }

    .projects_cards {
      gap: 30px;
      justify-content: center;
      width: 100%;
      display: flex;

      .projects_card {
        min-width: 280px;
        max-width: 380px;
        height: 540px;
        border-radius: 25px;
        background-color: #414141;
        color: #eee;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .projects_card_image_frame{
          width: 100%;
          img {
            border-radius: 23px 23px 0 0;
            width: 100%;
          }
        }

        .card_info_top {
          padding:5px 25px 0 25px;
          display: flex;
          flex-direction: column;
          gap: 10px;

          .card_type {
            font-size: 15px;
          }

          .card_title {
            font-size: 21px;
          }
        }

        .card_hr {
          height: 1px;
          width: 100%;
          background-color: #262626;
          border: none;
          margin: 10px 0 15px 0;
        }

        .card_tech_stack_title {
          padding: 0 25px;
          font-size: 17px;
        }

        .card_info_bottom {
          margin: 0 25px;
          display: flex;
          gap: 7px;
          flex-wrap: wrap;

          .card_tech_stack {
            font-size: 15px;
            display: flex;
            justify-content: center;
            place-items: center;
            width: fit-content;
            padding: 0 9px;
            height: 28px;
            border: 1px solid #292a2d;
            box-shadow: inset #171717 0 0 10px -3px;
            border-radius: 3px;
          }
        }

        .projects_card_bottom{
          padding:0 25px;
          display: flex;
          flex-direction: row;
          place-items:center;
          gap: 5px;
          margin-top: 10px;
          background-color: #494949;
          height: 65px;
          border-radius: 0 0 25px 25px;
          font-size: 17px;
          justify-content: space-between;

          p{
            display: flex;
            place-items:center;
            gap: 5px;
          }

        }
      }
    }
  }
}



// Skills media
@media only screen and (max-width: 1024px) {
  .projects_main {

    .projects_cards{
      //flex-direction: column;
      flex-wrap: wrap;
    }



  }
}