.profile {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 130px 0 110px 0;

  .profile-main {
    display: flex;
    align-items: center;
    width: 1200px;
    justify-content: space-between;
    gap: 30px;
    margin: 0 25px;
    flex-direction: row;

    .profile-inner-left {
      max-width: 750px;
      padding-right: 20px;
      height: 100%;
      display: flex;
      flex-direction: column;
      position: relative;

      h1 {
        padding-top: 90px;
        font-size: clamp(2.2rem, 4.4vw, 3.4rem);

        .profile-blue {
          color: #2c9bff;
        }
      }

      .profile-text {
        margin: 20px 0 20px;
        max-width: 700px;

      }

      .buttons {
        display: flex;
        position: absolute;
        bottom: 8px;
        gap: 15px;
      }

      button {
        height: 55px;
        padding: 0 22px;
        border-radius: 15px;
        font-size: 18px;
        cursor: pointer;
        border: none;
        background-color: #0f77d2;
        color: #eee;
        transition: 0.4s ease-out;
        &:hover {
          background-color: #005ea2;
        }
      }

      .profile-button1 {
        color: #eee;
      }

      .profile-button2 img {
        width: 25px;
        margin-bottom: -5px;
        margin-right: 5px;
      }

      .profile-element {
        margin-top: 20px;
        max-width: 100%;
      }
    }

    .profile-inner-right {
      display: flex;
      height: 100%;
      flex-direction: column;
      gap: 10px;

      .profile-image-frame img {
        width: 100%;
      }

      .contact-info {
        height: 40px;
        display: flex;
        gap: 15px;
        padding: 20px 0;
        justify-content: center;

        .contact-item {
          height: 50px;
          width: 50px;
          border-radius: 50px;
          background-color: #eee;
          outline: 1px solid #a6a6a6;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.1s ease-out;
          cursor: pointer;

          img {
            height: 23px;
            width: 23px;
          }

          &:hover {
            outline: 4px solid #0F77D2FF;
          }

        }
      }
    }
  }
}

// Profile media
@media only screen and (max-width: 800px) {
  .profile .profile-main {
    flex-direction: column;

    .buttons {
      position: relative !important;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center
    }

    .profile-inner-left {
      padding: 0;
      text-align: center;

      h1 {
        padding: 0;
      }
    }
  }
}

// Profile Media design element hide
@media only screen and (max-width: 1024px) {
  .profile-element {
    display: none;
  }

  .contact-item {
    cursor: default !important;
    &:hover {
      outline: 1px solid #a6a6a6 !important;
    }
  }

  .buttons button {
    cursor: default !important;
    &:hover {
      background-color:#0f77d2 !important;
    }
  }
}