.about {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 80px 0 80px 0;
  box-shadow: inset #1a1a1a 0 5px 15px -15px;
  background-color: #0000001f;

  .about-main {
    display: flex;
    width: 1200px;
    padding: 0 25px;
    gap: 45px;

    @media (max-width: 800px) {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 25px;
    }

    .about-img-frame img {
      border-radius: 8px;
      box-shadow: 0 2px 0 0 #9b9b9b;
      transition: transform 0.4s ease;
      cursor: pointer;
      height: auto;

      &:hover {
        transform: translateY(-5px);
      }

      @media (max-width: 800px) {
        max-width: 100%;
      }

      @media (max-width: 1024px) {
        cursor: default;
        &:hover {
          transform: translateY(0);
        }
      }
    }

    .about_right {
      display: flex;
      flex-direction: column;
      gap: 5px;

      @media (max-width: 800px) {
        gap: 22px;
      }

      .about_title {
        font-size: 27px;
      }

      .about_text {
        font-size: 15px;
        line-height: 1.7;

        @media (max-width: 800px) {
          text-align: left;
        }
      }
    }
  }
}