* {
    margin: 0;
    padding: 0;
}

*:focus-visible {
    outline: none!important;
}

ul{
    list-style: none;
}

.ant-wave {
    display: none;
}





/*body themes*/
body.dark-theme {
    background-color: #38393e;
    color: #eeeeee;
    transition: 0.6s;
    box-shadow: none;
}

body.light-theme {
    background-color: #e2e2e2;
    color: #2a2a2a;
    transition: 0.6s;
    box-shadow: none;
}

